@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, input { margin: 0; padding: 0; }
html { height: 100% }
body { height: 100%; line-height: 1.5; font-size: 16px; font-family: "PingFang SC", miui, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif; color: #333; background-color: #fff; }
li { list-style: none; }
img { vertical-align: top; }
input, button { outline: 0 none; -webkit-appearance: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type="text"], input[type="password"] { height: 0.3rem; padding: 0 0.05rem; line-height: 0.3rem; font-size: 0.14rem; border: 1px solid #ddd; }
input[type="text"]:hover, input[type="password"]:hover { border-color: #bbb; }
input[type="text"]:focus, input[type="password"]:focus { border-color: #3486ee; }
input[type="button"], input[type="submit"], button { height: 0.3rem; padding: 0 0.1rem; line-height: 0.3rem; font-size: 0.14rem; border: 1px solid #aaa; border-radius: 4px; cursor: pointer; }
#app { height: 100%; }
.logo { display: inline-block; width: 1.26rem; height: 0.43rem; background: url(//pic.c-ctrip.com/common/c_logo2013.png) no-repeat 100% 100%; }
.logo_relative { display: inline-block; width: 1.26rem; height: 0.43rem; background: url(../img/logo.png) no-repeat 100% 100%; }

@font-face {
  font-family: 'iconfont';
  src: url('../font/reactjs_webpack.eot'); /* IE9*/
  src: url('../font/reactjs_webpack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/reactjs_webpack.woff') format('woff'), /* chrome、firefox */
  url('../font/reactjs_webpack.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/reactjs_webpack.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}