.container { position: fixed; top: 0; right: 0; left: 0; z-index: 99; height: 0.5rem; background-color: #0086F6; }
.title { height: 0.5rem; padding: 0 0.8rem; line-height: 0.5rem; text-align: center; font-weight: normal; font-size: 0.2rem; color: #fff; }
.icoBoxLeft { position: absolute; top: 0; bottom: 0; left: 0; z-index: 1; }
.ico { display: inline-block; width: 0.4rem; height: 0.5rem; line-height: 0.5rem; text-align: center; font-size: 0.26rem; color: #fff; cursor: pointer; }
.ico:active { background-color: rgba(0, 0, 0, 0.2); }
.icoBack {
  composes: ico;
}